form {
  display: flex;
  flex-direction: column;
  width: 400px;

  label {
    display: flex;
    margin-top: 10px;
    margin-bottom: 2px;

  //&.arr {
  //display: block}
  }

  small {
    color: red;
    display: flex;
  }

    input {
      margin-top: 10px;
      &.ng-invalid.ng-touched {
        border: 1px solid red;
      }
    }
  button {
    margin: 20px;
  }
  }


